 .header {
     display: flex;
 }

 .header_left {
     color: #07016e;
     font-weight: bold;
     font-size: 20px;
 }

 .header_right {
     color: #07016e;
     font-weight: bold;
     font-size: 15px;
     display: flex;
     justify-content: flex-end;
     margin-left: 950px;
 }

 .header_right li {
     list-style: none;
     margin-left: 15px;
 }

 .relative {
     position: relative;
     top: 270px;
     left: px;
 }

 .absolute {
     position: absolute;
     top: -200px;
     left: 520px;
     z-index: 10;
 }

 .first {
     position: absolute;
     top: 60px;
     left: px;
     background-color: #040050;
 }

 .box {
     width: 840px;
     height: 220px;
     color: #0404fb;
 }

 img {
     width: 980px;
     height: 370px;
 }

 .comment {
     font-size: 50px;
     font-weight: 100;
 }